@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	@if (IsShown)
	{
		<div class="dialogue">
			<div class="character-name">
				@CharacterName
			</div>
			<div class="container">
				<div class="character-container">
					<div class="avatar">
						<img class="avatar-img" src="@CharacterAvatarImage"/>
					</div>
				</div>
				<div class="text-action-container">
					<div class="text-container">
						<p class="text">
							@Text
						</p>
					</div>
					<div class="action-container">

					</div>
				</div>
			</div>
		</div>
	}
</root>

@code
{

	[Property] public bool IsShown { get; set; } = false;
	public string CharacterName { get; set; }
	public string CharacterAvatarImage { get; set; }
	public string Text { get; set; }

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(IsShown, CharacterName, CharacterAvatarImage, Text);
}
