@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	@if (IsShown)
	{
		<div class="dialogue">
			<div class="character-name">
				Loremnya Ipsumka
			</div>
			<div class="container">
				<div class="character-container">
					<div class="avatar">
						<img class="avatar-img" src="icons/thermodynamics.png"/>
					</div>
				</div>
				<div class="text-action-container">
					<div class="text-container">
						<p class="text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscipit quis massa eget sodales. Ut quam ex, dignissim eu cursus et, cursus id erat. Vestibulum vitae commodo mi, sit amet accumsan mi. Curabitur et erat nisi. Cras interdum a mauris cursus mollis. Phasellus a lacus id sem pulvinar euismod. Cras vel ex quam. Nulla ut ultricies quam. Sed vitae gravida erat. Morbi lacinia, mi eget faucibus euismod, nunc sem faucibus nulla, ut tempor erat erat vel sem. Morbi mauris nulla, mollis id libero sit amet, maximus consequat quam.
						</p>
					</div>
					<div class="action-container">

					</div>
				</div>
			</div>
		</div>
	}
</root>

@code
{

	[Property] public bool IsShown { get; set; } = false;
	public string CharacterName { get; set; }
	public string CharacterAvatarImage { get; set; }
	public string Text { get; set; }

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(IsShown, CharacterName, CharacterAvatarImage, Text);
}
