@using Sandbox;
@using Sandbox.Tools
@using Sandbox.UI;
@using Sandbox.Machines;
@inherits PanelComponent

<root>
	<div class="tool">
		<h3>@PlayerController.GetCurrentTool().Name (@PlayerController.GetCurrentTool().CurrentMode)</h3>
	</div>

	@if (PlayerController.IsMachineMenuOpened)
	{
		<MachineMenu PlayerController=@PlayerController BlueprintTool=@BlueprintTool></MachineMenu> 
	}
</root>

@code
{
	[Property]
	public PlayerController PlayerController { get; set; }
	[Property]
	public BlueprintTool BlueprintTool { get; set; }

	protected override int BuildHash()
	{
		return Sandbox.Time.Now.GetHashCode();
	}
}
