Gui {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;

	.title {
		font-size: 25px;
		font-family: Poppins;
		color: #fff;
	}

	.machine-menu {
		background-color: #686D76;
		pointer-events: all;
		width: 800px;
		height: 500px;
		margin: 200px, 200px, 200px, 200px;
	}

	.machine-menu-grid-container {
		display: flex;
	}

	.tool {
		position: absolute;
		top: 250px;
		right: 400px;
	}
}
