InventoryGui {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;

	.title {
		font-size: 25px;
		font-family: Poppins;
		color: #fff;
	}

	.dragged-item {
		position: absolute;
	}

	.inventory {
		display: flex;
		flex-direction: row;
		pointer-events: all;
		justify-content: center;
		align-items: center;
		margin: 200px, 200px, 200px, 200px;
		gap: 8px;
	}

	.item-container {
		background-color: rgba(96, 96, 96, 0.75);
		display: flex;
		flex-direction: column;
		backdrop-filter: blur(10px);
		flex-basis: 50%;
		width: 800px;
		height: 800px;
	}

	.inventory-row {
		display: flex;
		flex-direction: row;
		flex-basis: 11.1%;
	}

	.inventory-slot {
		background-color: rgba(72, 72, 72, 0);
		padding: 25px;
		margin: 10px;
		border-color: rgb(16, 16, 16);
		border-width: 2px;
		border-style: solid;
		border-radius: 4px;
	}

	.inventory-offset {
		width: 500px;
	}

	.player-container {
		background-color: rgba(96, 96, 96, 0.75);;
		width: 400px;
		height: 800px;
	}
}
