@using Sandbox.Tools

<root>
	<div class="machine-menu">
		<div class="machine-menu-container">
			<div class="machine-menu-row">
				@foreach(string machineName in BlueprintTool.Blueprints.Keys)
				{
					_currentBlueprint = machineName;
					<div class="machine-slot" onclick="@SpawnBlueprint">
						<h4>@machineName</h4>
					</div>
				}
			</div>
		</div
	</div>
</root>

@code {
	private void SpawnBlueprint()
	{
		if (_currentBlueprint == null)
		{
			return;
		}

		PlayerController.IsMachineMenuOpened = false;

		BlueprintTool.Equip();
		BlueprintTool.SpawnBlueprint(_currentBlueprint);
	}

	private string _currentBlueprint;
	public PlayerController PlayerController { get; set; }
	public BlueprintTool BlueprintTool { get; set; }
}
