@using System
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	@if (IsShown)
	{
		<div class="trader">
			<div class="container">
				<div class="tab-container">
					<button id="tab-left" class=@(Tab == Tabs.Purchase ? "tab-active" : "tab") onclick="@( () => Tab=Tabs.Purchase )">Purchase</button>
					<button id="tab-right" class=@(Tab == Tabs.Sale ? "tab-active" : "tab") onclick="@( () => Tab=Tabs.Sale )">Sale</button>
				</div>
				<div class="offers">
					@if (Tab == Tabs.Purchase) {
						@foreach (var (item, price) in PurchaseOffers)
						{
							<div class="offer">
								<img class="item-icon" src="icons/thermodynamics.png" alt="Lamp" width="32" height="32" />
							<p class="offer-name">
								@item
							</p>
							<div class="price-count-container">
								<form>
									<input type="number" />
								</form>
								<div class="price-tag"> 
									$@price
								</div>
							</div>
							<div class="action-button" onclick="@( () => OnPurchase( item, 1 ) )">
								Buy
							</div>
						</div>
					}
				} else if (Tab == Tabs.Sale) {
					if ( SaleOffers.Count == 0 ) {
						<div class="oopsie-container">
							<p class="oopsie">Oopsie! No offers right now, sweetie, but maybe I will have something for you in the future :3</p>
						</div>
					}

					@foreach (var (item, price) in SaleOffers)
					{
						<div class="offer">
							<img class="item-icon" src="icons/thermodynamics.png" alt="Lamp" width="32" height="32" />
							<p class="offer-name">
								@item
							</p>
							<div class="price-count-container">
								<form>
									<input type="number" />
								</form>
								<div class="price-tag">
									$@price
								</div>
							</div>
							<div class="action-button" onclick="@( () => OnSale( item, 1 ) )">
								Sell
							</div>
						</div>
					}
				}
				</div>
			</div>
		</div>
	}
</root>

@code
{

	[Property]
	public bool IsShown { get; set; }
	[Property]
	public Tabs Tab { get; set; }
	[Property]
	public Dictionary<string, float> PurchaseOffers { get; set; }
	[Property]
	public Dictionary<string, float> SaleOffers { get; set; }

	public delegate void PurchaseHandler(string name, float count);
	public event PurchaseHandler OnPurchase;
	public delegate void SaleHandler(string name, float count);
	public event SaleHandler OnSale;
	public delegate void TabChangeHandler(Tabs tab);
	public event TabChangeHandler OnTabChange;

	protected override int BuildHash()
	{
			return HashCode.Combine(IsShown, PurchaseOffers, SaleOffers, Tab);
	}
}
